.EventView {
     display: grid;
     grid-template-columns: auto auto;
     grid-template-areas: "header empty-area" "content content" "pics empty-area"
     ;
}

.top-section-container {
     display: flex;
     grid-area: "header";
     justify-content: center;
     align-items: center;
}

.top-section-item {
     margin: 10px
}

.user-info {
     /* margin-top: 25px; */
     display: flex;
     flex-direction: column;
}

.content {
     display: flex;
     justify-content: center;
     grid-area: "content";
     align-items: center;
}

.empty-area {
     grid-area: "empty space";
}